    <div>
        <main class="page page-bg">
            <div class="text-left home-info">
                <p>
                    How it works
                </p>
               <h1>
                   Learn By Playing
               </h1> 
            </div>
            <div class="center">
                <h1 class="title" style="padding-bottom:500px">
                    Under Construction 
                </h1>
                <img class="center" src="assets/loading.gif" style="border-width:2px; border-color:white;" width="auto" height="auto"/>

            </div>
        </main>
    </div>