
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.page-bg{
    background-color: #26335D;
}

.home-info{
    padding-top:5%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
} .title{
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}
h1{
    color:#FFFFFF;
    font-weight: bold;
}
p{
    color:#72E236;
    font-weight: bold;
}