
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left:12%;
    padding-right:12%;
}

.page-bg{
    background-color: #26335D;
}
.grid-container{
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
}
.grid-item{
    width:250px;
    height:350px;
}
img{
    width:auto;
    height: auto; 
}

.my-btn-secondary {
background-color: #F082AC;
border: 2px solid #EA4C89;
border-radius: 100px;
box-sizing: border-box;
color:#FFFFFF;

display: inline-block;
width: 100px;
height: 100px;
line-height: 20px;
  line-height: 20px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}
.my-btn-secondary:focus,.my-btn-secondary:hover {
    border-color: #F082AC;
    background-color: #ffd0e2;
}

.my-btn-primary {
  background-color: #EA4C89;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  display: inline-block;

  height: 40px;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.my-btn-primary:hover,
.my-btn-primary:focus {
  background-color: #F082AC;
}
.yellow{
    background: #FEC95F ;
}
.yellow:hover,.yellow:focus{
    background: #f3e0bb;
    cursor:grab;
}
.blue{
    background: #73ABBC;
}
.blue:hover,.blue:focus{
    background: #b8dde9;
    cursor:grab;
}
.brown{
    background: #968374;
}

.brown:hover,.brown:focus{
    background: #f7e3d4;
    cursor:grab;
}
/*https://www.w3schools.com/howto/howto_css_cards.asp*/
.game-mode-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.game-mode-container{
  padding: 2px 16px;
}
.right{
    margin-left:auto
}
.align{
    padding-top:5%;
    padding-left: 12%;
    padding-right: 12%;
    text-align: center;
}

.text-left{
    padding: 5%;
    text-align: left;
}

.title{
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}
.center{
    margin:auto;
    text-align: center;
}
h1{
    color:#FFFFFF;
    font-weight: bold;
}
h3{
    color: #FFFFFF;
    font-weight: bold;
}
h5{
    color:#72E236;
    font-weight: bold;
}
p{
    color:#FFFFFF;
}

.fadein-first {
    animation: fadein 0.2s linear;
}

.fadein-second { 

    animation: fadein 1.0s linear;
}

.fadein-last { 

    animation: fadein 1.5s linear;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
    from {opacity: 0}
  to { opacity: 1;}
}

@media (max-width: 940.98px) {
    .grid-container{
        row-gap: 50px;
        grid-auto-flow: row;
    }
    .right{
        margin: auto;
    }
}