
.right[b-jmd1z2rd8p]{
    margin-left:auto;
}

.navbar-brand[b-jmd1z2rd8p]{
    margin-left: 12%;
    margin-right: 5%
}
.navbar-toggler[b-jmd1z2rd8p]{
    padding-right:2%;
}
.nav-brand-text[b-jmd1z2rd8p]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #FFFFFF;
    font-weight: bold;
}
.nav-brand-text:hover[b-jmd1z2rd8p],.nav-brand-text:focus[b-jmd1z2rd8p]{
    color: rgb(0, 0, 0);

}
.nav-item[b-jmd1z2rd8p]{
    padding-right: 20px;
}
.navbar-light[b-jmd1z2rd8p]{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background: #FFFFFF;
    font-weight: bold;
}
.primary[b-jmd1z2rd8p]{
    background-color: #3672E2;
}
.nav-text[b-jmd1z2rd8p]{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #FFFFFF;
    font-weight: bold;
}
.my-btn-primary[b-jmd1z2rd8p] {
  background-color: #EA4C89;
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;

  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.my-btn-primary:hover[b-jmd1z2rd8p],
.my-btn-primary:focus[b-jmd1z2rd8p] {
  background-color: #F082AC;
}