@inherits LayoutComponentBase

<PageTitle>Learn Dewey</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div>
<NavBar/>
</div>

<div class="page-bg center">
    @Body    
</div>